################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/01_InitGL/v15
/asset
/Debug
/Release
/x64/Debug/vector.obj
/x64/Debug/vc141.pdb
/x64/Debug/vc141.idb
/x64/Debug/textureGL.obj
/x64/Debug/renderer.obj
/x64/Debug/polygon.obj
/x64/Debug/manager.obj
/x64/Debug/main.obj
/x64/Debug/01_InitGL.tlog/link.write.1.tlog
/x64/Debug/01_InitGL.tlog/link.read.1.tlog
/x64/Debug/01_InitGL.tlog/link.command.1.tlog
/x64/Debug/01_InitGL.tlog/CL.write.1.tlog
/x64/Debug/01_InitGL.tlog/CL.read.1.tlog
/x64/Debug/01_InitGL.tlog/CL.command.1.tlog
/x64/Debug/01_InitGL.tlog/01_InitGL.lastbuildstate
/x64/Debug/01_InitGL.pdb
/x64/Debug/01_InitGL.log
/x64/Debug/01_InitGL.ilk
/x64/Debug/01_InitGL.exe
